  body {
    border: 0;
    margin: 0;
  }

  #item1 {
    background-color: red;
  }
  #item2 {
    background-color: green;
  }
  #item3 {
    background-color: blue;
    position: relative;
    margin: 0 auto;
    width: 800px;
  }



  #cover {
    width: 800px;
    height: 500px;
    background-color: red;
    position: absolute;
        margin: 0 auto;
  }
